.descriptionWrapper {
  width: 100vw;

  .description {
    width: 1120px;
    margin: 40px auto 200px;

    p {
      width: 740px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 142.7%;
    }
  }
}