.feedback {
  .form {
    width: 740px;
    margin: 90px auto 0;
    display: flex;

    input {
      border: 3px solid black;
      outline: 0;
      padding: 0 0 0 32px;
      display: flex;
      align-items: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 142.7%;
      width: 550px;
    }

    .send {
      background-color: black;
      width: 190px;
      height: 82px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 142.7%;
      cursor: pointer;
    }
  }

  .responces {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 142.7%;
    width: 740px;
    margin: 20px auto;
    height: 40px;

    .email {
      color: red;
    }
  }
}