@media (min-width: 1120px) {
  .partners {
    .partnersWrapper {
      width: 1120px;
      margin: 72px auto 0;
      display: flex;
      justify-content: space-between;

      .partner {
        height: 90px;
      }

      .zil {
        width: 127px;
        background-image: url(asset-path('zil.png'));
        background-size: cover;
      }

      .gi {
        width: 139px;
        background-image: url(asset-path('gi.png'));
        background-size: cover;
      }

      .am {
        width: 189px;
        background-image: url(asset-path('am.png'));
        background-size: cover;
      }

      .ic {
        width: 255px;
        background-image: url(asset-path('ic.png'));
        background-size: cover;
      }

      .cf {
        width: 83px;
        background-image: url(asset-path('cf.png'));
        background-size: cover;
      }
    }
  }
}

@media (max-width: 1119px) and (min-width: 740px) {
  .partners {
    position: relative;

    .partnersWrapper {
      width: 736px;
      margin: 45px auto 0;
      display: flex;
      justify-content: space-between;

      .partner {
        height: 65px;
      }

      .zil {
        width: 127px;
        background-image: url(asset-path('zil.png'));
        background-size: cover;
      }

      .gi {
        width: 139px;
        background-image: url(asset-path('gi.png'));
        background-size: cover;
      }

      .am {
        width: 189px;
        background-image: url(asset-path('am.png'));
        background-size: cover;
      }

      .ic {
        width: 255px;
        background-image: url(asset-path('ic.png'));
        background-size: cover;
      }

      .cf {
        width: 83px;
        background-image: url(asset-path('cf.png'));
        background-size: cover;
      }
    }
  }
}

@media (max-width: 739px) {
  .partners {
    position: relative;

    .partnersWrapper {
      width: 300px;
      margin: 20px auto 0;
      display: flex;
      justify-content: center;
      flex-flow: wrap;

      .partner {
        height: 60px;
      }

      .zil {
        width: calc(100% / 2 - 10px);
        background-image: url(asset-path('zil.png'));
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .gi {
        width: calc(100% / 2 - 10px);
        background-image: url(asset-path('gi.png'));
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .am {
        width: calc(100% / 2 - 10px);
        background-image: url(asset-path('am.png'));
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .ic {
        width: calc(100% / 2 - 10px);
        background-image: url(asset-path('ic.png'));
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .cf {
        width: calc(100% / 2 - 10px);
        background-image: url(asset-path('cf.png'));
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}