@media (min-width: 1120px) {
  .section {
    width: 100vw;
    margin: 100px auto;

    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 73px;
      text-align: center;
    }
  }
}

@media (max-width: 1119px) and (min-width: 730px) {
  .section {
    width: 100vw;
    margin: 80px auto;

    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      text-align: center;
    }
  }
}

@media (max-width: 739px) {
  .section {
    width: 100vw;
    margin: 40px auto;

    h1 {
      width: 300px;
      margin: 0 auto;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      text-align: left;
    }
  }

}