.section {
  width: 100vw;
  margin: 100px auto;

  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
  }
}